# demo | prod
VITE_SITE_MODE="demo"

# Public URL of deployed website, e.g. https://twojebiuro.pl
VITE_SITE_URL="https://demo-biuro-rachunkowe.local"

# Optional endpoint for contact form
VITE_CONTACT_ENDPOINT="https://twoj-endpoint.pl/api/lead"
